---
static_host_map:

lighthouse:
  am_lighthouse: true

pki:
  ca: {{ _nebula_dir}}/ca.crt
  cert: {{ _nebula_dir}}/host.crt
  key: {{ _nebula_dir}}/host.key

listen:
  host: 0.0.0.0
  port: 4242

firewall:
  outbound:
    - port: any
      proto: any
      host: any
  
  inbound:
    - port: any
      proto: any
      host: any
