[Unit]
Description=Nebula VPN
After=network.target

[Service]
ExecStart={{ _nebula_dir }}/bin/nebula -config {{ _nebula_dir }}/config.yaml
Restart=on-failure
User=root
Group=root
LimitNOFILE=4096
StandardError=journal
StandardOutput=journal

[Install]
WantedBy=multi-user.target
